@model Caso1.Core.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Editar Usuario</h3>
                <p class="text-subtitle text-muted">Complete los campos para actualizar la información del usuario</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Usuarios")">Administración de Usuarios</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Editar Usuario</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Formulario de Edición de Usuario</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @using (Html.BeginForm("Edit", "Usuarios", FormMethod.Post, new { @class = "form" }))
                            {
                                <div class="row">
                                    @Html.HiddenFor(model => model.Id)
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="NombreUsuario"></label>
                                            <input asp-for="NombreUsuario" type="text" class="form-control" placeholder="Nombre de Usuario">
                                            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="NombreCompleto"></label>
                                            <input asp-for="NombreCompleto" type="text" class="form-control" placeholder="Nombre Completo">
                                            <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Correo"></label>
                                            <input asp-for="Correo" type="text" class="form-control" type="email" placeholder="Correo">
                                            <span asp-validation-for="Correo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Contraseña"></label>
                                            <input asp-for="Contraseña" type="text" class="form-control" type="password" placeholder="Contraseña">
                                            <span asp-validation-for="Contraseña" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Telefono"></label>
                                            <input asp-for="Telefono" type="text" class="form-control" placeholder="Telefono">
                                            <span asp-validation-for="Telefono" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Rol"></label>
                                            <select asp-for="Rol" asp-items="ViewBag.Roles" class="form-select">
                                                <option value="">Seleccione un Rol</option>"
                                            </select>
                                            <span asp-validation-for="Rol" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit"
                                                class="btn btn-primary me-1 mb-1">
                                            Guardar Cambios
                                        </button>
                                        <button type="reset"
                                                class="btn btn-light-secondary me-1 mb-1">
                                            Restablecer
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Styles {

}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}