@model Caso1.Core.Models.Vehiculo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Registro de Vehículo</h3>
                <p class="text-subtitle text-muted">Complete los campos para agregar un nuevo vehículo</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("AdministracionVehiculo","Vehiculos")">Vehículos</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Agregar Vehículo</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Formulario de Registro de Vehículo</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "Vehiculos", FormMethod.Post, new { @class = "form" }))
                            {
                                <div class="row">
                                    @Html.HiddenFor(model => model.Id)

                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Placa"></label>
                                            <input asp-for="Placa" type="text" class="form-control" placeholder="Placa">
                                            <span asp-validation-for="Placa" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Modelo"></label>
                                            <input asp-for="Modelo" type="text" class="form-control" placeholder="Modelo">
                                            <span asp-validation-for="Modelo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label asp-for="Estado"></label>
                                            <select asp-for="Estado" asp-items="ViewBag.EstadosVehiculo" class="form-select">
                                                <option value="">Seleccione un estado</option>
                                            </select>
                                            <span asp-validation-for="Estado" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Registrar</button>
                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Restablecer</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Styles {
 
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}