@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-heading">
    <h3>Bienvenido al Caso 1 del Grupo 4</h3>
</div>

@section Styles {
    <link rel="stylesheet" href="~/Template/vendors/iconly/bold.css">
}

@section Scripts {
    <script src="~/Template/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/Template/js/pages/dashboard.js"></script>
}